# ==========================================
# AlphaMind AI Configuration
# ==========================================

# Application
APP_NAME=AlphaMind AI
VERSION=0.1.0
DEBUG=True

# ==========================================
# Database
# ==========================================

DATABASE_URL=

# ==========================================
# Cache
# ==========================================

REDIS_URL=

# ==========================================
# APIs
# ==========================================

FINNHUB_API_KEY=

FMP_API_KEY=

FRED_API_KEY=

NEWS_API_KEY=

OPENAI_API_KEY=